/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}

/* Navbar */
.navbar {
    background-color: #333;
    color: #fff;
    padding: 1rem;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

.navbar li {
    margin: 0 1rem;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
}

.navbar a:hover {
    color: #ddd;
}

/* Sección de perfil */
.profile-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    background-color: #fff;
    padding: 2rem;
}

.profile-card {
    text-align: center;
    max-width: 600px;
    background-color: #fff;
    padding: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 1rem;
}

/* Sección de contacto */
.contact-section {
    padding: 2rem;
    background-color: #e2e2e2;
}

.contact-section h2 {
    text-align: center;
    margin-bottom: 1rem;
}

.contact-section ul {
    list-style: none;
    text-align: center;
}

.contact-section li {
    margin: 0.5rem 0;
}

.contact-section a {
    color: #333;
    text-decoration: none;
}

.contact-section a:hover {
    text-decoration: underline;
}

/* Footer */
.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    /* position: fixed; */
    bottom: 0;
    width: 100%;
}

/* Estilos Responsivos */
@media (max-width: 768px) {
    .profile-section {
        height: auto;
    }

    .profile-card {
        padding: 1rem;
    }
}
