:root{
    --color-primary:#004aad;
    --color-tree:#0a7cffcc;
    --color-neutral:#eff3fa;
    --color-white:#fff;
    --color-secundary: #ccc;
    --cyan-gradient: hsl(176, 68%, 64%);
    --blue-gradient: hsl(198, 60%, 50%);
    --gradient: linear-gradient(to right, var(--cyan-gradient), var(--blue-gradient));
    --background-img-url: "../Img/Banner/Banner-web-3.png";
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
html {
    scroll-behavior: smooth;
  }
/* Estilos del header  */
/* -------------------------------------------------------------------------- */
header {
    background-image: url("../Img/Banner/Banner-web-3.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
header .header-container{
    display: flex;
   
}
header .header-container .menu-nav{
    margin: 30px auto;
    width: 80%;
    max-width: 1000px;
    display: flex;
    /* justify-content: center; */
    flex-direction: row;
    max-height: 50px;
    justify-content: space-between;
    padding: 15px;
    flex-wrap: wrap;

}
header .header-container .menu-nav a{
    text-decoration: none;
    color: var(--color-white);
    font-size: 1.2em;
    
}

.menu-nav a {
    position: relative;
    text-decoration: none;
    font-size: small;
    font-weight: 300;
    color: var(--color-white);;
    padding: 5px 0;
    transition: var(--color-neutral) 0.3s ease;
}

.menu-nav a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: var(--color-neutral);
    bottom: 0;
    left: 0;
    transition: width 0.3s ease;
}

.menu-nav a:hover::after {
    width: 100%;
}
header .header-container .img-header {
    width: 100px;
    max-height: 100px;
    margin: 10px 40px;

   
}
header .header-container .img-header img {
    width: 100px;
    height: 100px;
}

header  .header-info {
    margin: 100px 40px;
    text-align: center;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 1s ease-out forwards;

}
header .header-info h1 {
    color: var(--color-white);
    font-size: 40px;

}

header .header-info p {
    color: var(--color-secundary);
    font-size: 20px;

}
.banner-btn {
    margin: 70px auto 0;
  
  }
  .banner-btn a{
    width: 150px;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    padding: 12px 0;
    color: #fff;
    border: .5px solid #fff;
    position: relative;
    z-index: 1;
    transition: color 0.5s;
  }
  .banner-btn a span{
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: var(--gradient);
  z-index: -1;
  transition: 0.5s;
  }
  
  .banner-btn a:hover span{
    width: 100%;
  }


/* Estilos del main  */
/* -------------------------------------------------------------------------- */


/* Estilos del about  */
/* -------------------------------------------------------------------------- */

main section{
    padding: 30px;
    max-height: 800PX;
    display: flex;
    flex-direction: column;
}
main .about{
    margin: 0 auto;
    display: flex;
    
    align-items: center;
    max-width: 1000px;
    gap: 10px;
    background-color: var(--color-neutral);

}
main .title-section{
    align-items: center;
    text-align: center;
    padding: 15px;
    text-transform: uppercase;
}
main .title-section h2{
    font-size: 1.5em;
    font-weight:500px;

}
main .about .container-about{
    display: flex;

    align-items: center;
    margin: 0 auto;
    
}
main .about .container-about article{
    padding: 10px;
    margin-right:10px ;
    width: 50%;
    
}
main .about .container-about article p{
   text-align: justify;
    font-size: 15px;
    color: #000;
    font-weight: 300;
}
main .about .container-about .about-img img{
    border-radius: 20px;
    
    box-shadow: 3px 9px 12px -4px rgba(0,0,0,0.76);
}

/*FEATURE--*/
#feature {
    width: 100%;
    padding: 70px 0;
  }
  
  .title-text {
    text-align: center;
    padding-bottom: 70px;
  }
  
  .title-text p{
    margin:auto;
    font-size: 20px;
    color: var(--blue-gradient);
    font-weight: bold;
  position: relative;
  z-index: 1;
  display:  inline-block;
  }
  
  
  .title-text h2{
    font-size: 40px;
    color: #000;
  }
  
  .feature-box {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
  
  }
  
  .features {
    flex-basis: 50%;
  
  }
  .features-img {
    flex-basis: 50%;
    margin: auto;
  }
  
  .features-img img{
    width: 100%;
    border-radius: 10px;
  }
  .features h3{
    text-align: left;
    margin-bottom: 10px;
    font-weight: 500;
    color: var(--blue-gradient);
  }
  
  .features-desc {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
  }
  
  .feature-icon .bx{
  width: 50px;
  height: 50px;
  font-size:30px;
  line-height: 50px;
  border-radius: 8px;
  color: var(--blue-gradient);
  border: 1px solid var(--blue-gradient);
  }
  .feature-text p{
    padding: 0 20px;
    text-align: initial;
  
  }
/* Estilos del teams  */
/* -------------------------------------------------------------------------- */
#service{
    width: 100%;
    /* padding: 70px 0; */
    background: #efefef;
    background-image: url("../Img/Banner/Banner-web-3.png");
    /* height: 100vh; */
  }
  #service .title-text p{
    color: var(--color-neutral);
  }
  #service .title-text h1{
    color: var(--color-neutral);
  }
  .service-box{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
    color: var(--color-neutral);
  }

  .single-service{
    flex-basis: 48%;
    text-align: center;
    border-radius: 7px;
    margin-bottom: 20px;
    color: #fff;
    position:relative;
  }
  .single-service img{
    width: 100%;
    border-radius: 7px;
    max-height: 300px;
  }
  
  .overlay{
    width: 100%;
    height: 100%;
    position: absolute;
  border-radius: 7px;
  cursor: pointer;
  background:linear-gradient(rgba(0,0,0,0.5),var(--color-primary));
  opacity: 0;
  transition: 1s;
  }
  
  .single-service:hover .overlay{
  opacity: 1;
  }
  
  .service-desc{
    width: 80%;
    position: absolute;
    bottom: 0%;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%);
    transition: 1s;
  }
  
  hr{
    background: #fff;
    height: 2px;
    border: 0;
    margin: 15px auto;
    width: 60%;
  }
  
  .service-desc p{
    font-size: 14px;
  }
  .service-desc button{
    font-size: 20px;
    margin-top: 5px;
    background: var(--color-primary) ;
    border-radius: 10px;
    border-style: none;
    padding: 10px;
    color: #fff;
    cursor: pointer;
  }
  .service-desc button:hover{
    background:  var(--color-tree);
    cursor: pointer;
  }
  .single-service:hover .service-desc{
  bottom: 40%;
  opacity: 1;
  }
  @media screen and (max-width: 770px){
    .single-service {
      flex-basis: 100%;
      margin-bottom: 30px;
    }
    .service-desc p{
      font-size: 12px;
    }
    hr{
      margin: 5px auto;
    }
    .single-service:hover .service-desc{
      bottom: 25% !important;
    }
  }
  
/* Estilos del contact  */
/* -------------------------------------------------------------------------- */
main .contact{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: var(--color-neutral);
    margin: 0 auto;

}
.form-container{
    background-color: var(--color-white);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    width: 800px;    
}

.form-container h2{
    text-align: center;
    margin-bottom: 20px;
}

.form-container input[type="text"], input[type="number"], input[type="email"], input[type="password"],textarea,input[type="tel"]{
    width: 100%;
    padding: 15px 10px;
    margin: 10px 0;
    border: 1px solid var(--color-secundary);
    border-radius: 5px;
    box-sizing: border-box;
}
.form-container input[type="text"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="password"]:focus,textarea:focus ,input[type="tel"]:focus{
    border: 2px solid var(--color-tree);
}
.form-container button{
    width: 100%;
    padding: 15px;
    background-color: var(--color-primary);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

.form-container button:hover {
    background-color: var(--color-tree);
    cursor: pointer;
}

.error {
    border: 2px solid red !important;
    outline: none !important;
}
.error-message {
    color: red;
    font-size: 0.9em;
}
/* Footer */
/* -------------------------------------------------------------------------- */
/*footer*/

#footer{
    padding: 100px 0 20px;
    background: var(--color-primary);
    background-image: url("../Img/Banner/Banner-web-3.png");
    position: relative;
    color: var(--color-neutral);
  }
  .footer-row {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .footer .title-text p{
    color: var(--color-neutral);
  }
  .footer-left,.footer-right{
    flex-basis: 45%;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .footer-right{
    text-align: right;
  }
  
  .footer-row h1{
    margin: 10px 0;
  }
  
  .footer-row p{
    line-height: 35px;
    color: var(--color-neutral);
  }
  
  .footer-left .bx,.footer-right .bx{
    font-size: 20px;
    color: var(--color-neutral);
    margin: 10px;
  }
  
  .footer-img{
    max-width: 500px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    opacity: 0.1;
    position: absolute;
    left: 25%;
    top: 0;
    transform: translateY(-50%,-50%);
  }
  .social-links {
    text-align: center;
  }
  
  .social-links .bx{
    height: 40px;
    width: 40px;
    font-size:20px;
    line-height: 40px;
    border: 1px solid var(--cyan-gradient);
    margin: 40px 5px 0;
    color: var(--color-neutral);
    cursor: pointer;
  transition: .5s;
  }
  .social-links .bx:hover{
    background: var(--blue-main);
    color: #fff;
    transform: translateY(-7px);
  }
  .social-links p{
    font-size: 12px;
    margin-top: 20px;
  }
  
  @media screen and (max-width: 770px){
    .footer-left,.footer-right {
      flex-basis: 100%;
      font-size: 14px;
    }
  .footer-img{
    top: 25%;
  }
  }
/* Animaciones */
/* -------------------------------------------------------------------------- */

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
